*{
    font-family:Arial, Helvetica, sans-serif
}

h1{
    font-weight: bold;
    color: red;
    text-align: center;
}

li{
    display: inline;
    }

    button{
    font-size:15px;
    padding:3px;

    }